[Unit]
Description=Root0 - Configure kernel message logging
DefaultDependencies=no
Before=sysinit.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/sysctl -w kernel.printk='3 3 3 3'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target 